{% extends 'home/layout2.html' %}


{% block title %}
  {{user.username}}
{% endblock title %}
  

{% block body %}
<!-- Page Container -->
  <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">

      <!-- Left Column -->
      <div class="w3-col l3">
        <!-- Profile -->
        <div class="w3-card w3-round w3-white">
          <div class="w3-container">
            <h4 class="w3-center">{{ user.username }}</h4>
            <p class="w3-center"><img src="{{ user.photo.url }}" class="w3-circle" style="height:106px;width:106px" alt="profile" /></p>
            <hr>
            <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>
              
              {% if user.is_doctor %}
                Doctor/Psychologist
              {% else %}
                Patient
              {% endif %}
                
            </p>
            
          </div>
        </div>
        <br>
        
        <!-- Accordion -->
        <div class="w3-card w3-round">
          <div class="w3-white">
            <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fas fa-user-md fa-fw w3-margin-right"></i> My Doctors</button>
            <div id="Demo1" class="w3-hide w3-container">
              <p>Some text..</p>
            </div>
            <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fas fa-chart-pie fa-fw w3-margin-right"></i> My Tests</button>
            <div id="Demo2" class="w3-hide w3-container">
              <p>Some other text..</p>
            </div>
          </div>      
        </div>
        <br>

        {% if messages %}
          <!-- Alert Box -->
          <div class="w3-container w3-display-container w3-pale-green w3-border w3-theme-border w3-margin-bottom">
            <span onclick="this.parentElement.style.display='none'" class="w3-button w3-display-topright">
              <i class="fa fa-remove"></i>
            </span>
            <p>
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            </p>
          </div>
        {% endif %}
        
        {% if alert %}
          <!-- Alert Box -->
          <div class="w3-container w3-display-container w3-pale-green w3-border w3-theme-border w3-margin-bottom">
            <span onclick="this.parentElement.style.display='none'" class="w3-button w3-display-topright">
              <i class="fa fa-remove"></i>
            </span>
            <p>
              {{ alert }}
            </p>
          </div>
        {% endif %}
          

      <!-- End Left Column -->
      </div>

      <!-- Middle Column -->
      <div class="w3-col l7">
        <div class="w3-row-padding">
          <div class="w3-col m12">
            <div class="w3-card w3-white w3-round w3-margin-bottom"><br>
              <div class="w3-container w3-padding">
                <table class="w3-table w3-large w3-striped">
                  <tr class="w3-theme-l2">
                    <th class="w3-padding-16">Profile Information</th>
                    <th class="w3-padding-16"></th>
                  </tr>
                  
                  {% if user.first_name %}
                    <tr>
                      <td class="w3-padding-16"><strong>First Name</strong></td>
                      <td class="w3-padding-16">{{ user.first_name }}</td>
                    </tr>
                  {% endif %}

                  {% if user.last_name %}
                    <tr>
                      <td class="w3-padding-16"><strong>Last Name</strong></td>
                      <td class="w3-padding-16">{{ user.last_name }}</td>
                    </tr>
                  {% endif %}

                  {% if user.username %}
                    <tr>
                      <td class="w3-padding-16"><strong>Username</strong></td>
                      <td class="w3-padding-16">{{ user.username }}</td>
                    </tr>
                  {% endif %}

                  {% if user.email %}
                    <tr>
                      <td class="w3-padding-16"><strong>Email</strong></td>
                      <td class="w3-padding-16">{{ user.email }}</td>
                    </tr>
                  {% endif %}

                  {% if user.sex %}
                    <tr>
                      <td class="w3-padding-16"><strong>Sex</strong></td>
                      <td class="w3-padding-16">{{ user.sex }}</td>
                    </tr>
                  {% endif %}
                  
                  {% if user.birth_date %}
                    <tr>
                      <td class="w3-padding-16"><strong>Birthday</strong></td>
                      <td class="w3-padding-16">{{ user.birth_date }}</td>
                    </tr>
                  {% endif %}

                  {% if user.city %}
                    <tr>
                      <td class="w3-padding-16"><strong>City</strong></td>
                      <td class="w3-padding-16">{{ user.city }}</td>
                    </tr>
                  {% endif %}

                  {% if user.country %}
                    <tr>
                      <td class="w3-padding-16"><strong>Country</strong></td>
                      <td class="w3-padding-16">{{ user.country }}</td>
                    </tr>
                  {% endif %}

                  {% if user.about %}
                    <tr>
                      <td class="w3-padding-16"><strong>About</strong></td>
                      <td class="w3-padding-16">{{ user.about }}</td>
                    </tr>
                  {% endif %}
                  
                </table>
                <p class="w3-right w3-opacity">Last Updated {{ user.last_profile_update|date:'d M, P' }}</p>
              </div>
            </div>
          </div>
        </div>
        
      <!-- End Middle Column -->
      </div>

      <!-- Right Column -->
      <div class="w3-col l2">
        <div class="w3-card w3-round w3-white">
          <div class="w3-container">
            <p><i class="fa fa-exclamation-triangle w3-text-theme"></i> Make sure to keep your profile updated. Details help doctors make a better diagnosis.</p>
            <p><a class="w3-button w3-block w3-theme-d1" href="{% url 'home:profile_edit' %}" style="text-decoration:none;">Edit Profile Now</a></p>
          </div>
        </div>
        <br>
        
      <!-- End Right Column -->
      </div>
    </div>
  </div>
{% endblock body %}
  