{% extends 'home/layout.html' %}
{% load static %}


{% block title %}
  Sign Up
{% endblock title %}
  

{% block styles %}
  <link rel="stylesheet" href="{% static 'home/index.css' %}">
{% endblock styles %}
  

{% block body %}
<div class="bgimg w3-display-container w3-text-dark">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    Logo
  </div>
  <div id="card" class="w3-display-middle" style="width:40vw">
    <div class="w3-card-2 w3-round">

      <header class="w3-container w3-theme-l3">
        <h3>Sign Up</h3>
      </header>
      
      <div class="w3-container w3-theme-l5 w3-padding-32">
        <form action="{% url 'home:register' %}" class="container" method="POST">
          {% csrf_token %}
          
          <label class="w3-text-theme"><b>Username</b></label>
          <input class="w3-input w3-border" type="text" name="username" required>
          
          <label class="w3-text-theme"><b>Email</b></label>
          <input class="w3-input w3-border" type="text" name="email" required>
          
          <label class="w3-text-theme"><b>Password</b></label>
          <input class="w3-input w3-border" type="password" name="password" required>

          <label class="w3-text-theme"><b>Confirm Password</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="password" name="confirmation" required>
          
          <input class="w3-check" type="checkbox" name="is_doctor">
          <label>I&apos;m a Doctor/Psychologist</label>

          <p class="w3-text-red">{{message}}</p>
          <button class="w3-btn w3-theme w3-ripple" type="submit">Create Profile</button>
        </form>
        <p style="margin-bottom:0">Already have a Profile? <a href="{% url 'home:index' %}">Log In</a></p>
      </div>

      
    </div>
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
    Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
  </div>
</div>
{% endblock body %}
  