{% extends 'panel/layout2.html' %}
{% load static %}
{% load star_templates %}


{% block title %}
  {{ doctor.username }}
{% endblock title %}


{% block styles %}
  <link rel="stylesheet" href="{% static 'panel/doctor_profile.css' %}">
{% endblock styles %}


{% block body %}

<!-- overview -->
<div class="w3-container" style="padding-top:22px"><br>
    <div class="w3-row-padding">

      {% if messages %}
      <!-- Alert Box -->
      <div class="w3-container w3-margin w3-display-container w3-pale-green w3-border w3-theme-border w3-margin-bottom">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
        <p>
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </p>
      </div>
      {% endif %}

      <!-- header -->
      <div class="w3-col" style="padding:0;">
        <div class="w3-col text-center">
          <img class="w3-circle" src="{{ doctor.photo.url }}" style="width:96px;height:96px">
        </div>
        <div class="w3-col w3-container">
          <div class="rating">
            <h4 style="margin:0;">
              {{ doctor.first_name }} {% firstof doctor.last_name 'No Name' %}&nbsp;-&nbsp; 
            </h4> 
            <span>
              {% show_stars doctor %}
            </span> 
          </div>
          <span class="w3-opacity w3-medium">{% firstof doctor.doctor_user.first.get_title_display 'Specialty Not Provided' %}</span>
          <div class="w3-row w3-margin-top">

            <div id="button">
              <span>
                {% if user_follows_profile_owner %}
                  <button id="followButton" class="w3-button w3-small w3-gray" onclick="follow('{{ user.username }}', '{{ doctor.username }}')">
                    <span id="followText">Unfollow</span>
                    &nbsp;&nbsp;<span id="followerCount" class="w3-badge" style="font-size:12px;margin:0;">{{ doctor.followee.all|length }}</span>
                  </button>
                {% else %}
                  <button id="followButton" class="w3-button w3-small w3-gray" onclick="follow('{{ user.username }}', '{{ doctor.username }}')">
                    <span id="followText">Follow</span>
                    &nbsp;&nbsp;<span id="followerCount" class="w3-badge" style="font-size:12px;margin:0;">{{ doctor.followee.all|length }}</span>
                  </button>
                {% endif %}
              </span>
              <span>
                <button class="w3-button w3-small w3-gray" onclick="myFunction('comment')">
                  Comment &nbsp; 
                  <i class="fa-solid fa-comment"></i>
                </button>
              </span>
              <span>
                <button class="w3-button w3-small w3-gray" onclick="myFunction('stats')">
                  More Info &nbsp;
                  <i class="fa fa-arrow-right"></i>
                </button>
              </span>
            </div>
            
          </div>

          <!-- dashboard -->
          <div id="stats" class="btns w3-row-padding w3-margin-bottom w3-margin-top w3-hide w3-animate-left">
            <!-- stars -->
            <div class="w3-col l4 m4">
              <div class="w3-container w3-red w3-padding-16">
                <div class="w3-left"><i class="fa fa-star w3-large"></i></div>
                <div class="w3-right">
                  <span>{% total_stars doctor %}</span>
                </div>
                <div class="w3-clear"></div>
                <p id="mb_none">Stars</p>
              </div>
            </div>
            <!-- followers -->
            <div class="w3-col l4 m4">
              <div class="w3-container w3-blue w3-padding-16">
                <div class="w3-left"><i class="fa fa-users w3-large"></i></div>
                <div class="w3-right">
                  <span>{{ doctor.followee.all|length }}</span>
                </div>
                <div class="w3-clear"></div>
                <p id="mb_none">Followers</p>
              </div>
            </div>
            <!-- comments -->
            <div class="w3-col l4 m4">
              <div class="w3-container w3-teal w3-padding-16">
                <div class="w3-left"><i class="fa fa-comment w3-large"></i></div>
                <div class="w3-right">
                  <span>{{ doctor.comment_for_doctor.all|length }}</span>
                </div>
                <div class="w3-clear"></div>
                <p id="mb_none">Comments</p>
              </div>
            </div>
          </div>
          <!-- comment -->
          <div id="comment" class="btns w3-row-padding w3-margin-bottom w3-margin-top w3-hide w3-animate-left">
            <form action="{% url 'panel:comment' doctor.id %}" class="w3-container w3-margin" method="post">
              {% csrf_token %}
              <textarea class="w3-input w3-border" name="content" placeholder="Leave A Comment For {{doctor.username}}"></textarea>
              <button type="submit" class="w3-button w3-black w3-margin-top">Post</button>
            </form>
          </div>
          <hr class="black">
        </div>
      </div>

      <!-- profile -->
      <div class="w3-col l8" style="padding:0;">
        <!-- General Info -->
        <div class="w3-padding-16">
          <h5><b>General Information</b></h5>
          <table class="w3-table w3-striped w3-white">
            <tr class="w3-hover-opacity-min">
              <td><i class="fa fa-user w3-text-blue"></i></td>
              <td><strong>Name</strong></td>
              <td><i>{{ doctor.first_name }} {{ doctor.last_name }}</i></td>
            </tr>
            <tr class="w3-hover-opacity-min">
              <td><i class="fa-solid fa-venus-mars w3-text-teal"></i></td>
              <td><strong>Sex</strong></td>
              <td><i>{% firstof doctor.sex '-' %}</i></td>
            </tr>
            <tr class="w3-hover-opacity-min">
              <td><i class="fa-solid fa-city w3-text-blue-gray"></i></td>
              <td><strong>City</strong></td>
              <td><i>{% firstof doctor.city '-' %}</i></td>    
            </tr>
            <tr class="w3-hover-opacity-min">
              <td><i class="fa-solid fa-earth-africa w3-text-brown"></i></td>
              <td><strong>Country</strong></td>
              <td><i>{% firstof doctor.country '-' %}</i></td>
            </tr>
            <tr class="w3-hover-opacity-min">
              <td><i class="fa-solid fa-address-card w3-text-cyan"></i></td>
              <td><strong>About</strong></td>
              <td><i>{% firstof doctor.about '-' %}</i></td>  
            </tr>
          </table>
          <small class="w3-margin-top w3-right w3-opacity">Last Updated {% firstof doctor.last_profile_update|date:'M d, P' 'Never' %}</small>
        </div>
      </div>

      <!-- ratings -->
      {% show_ratings doctor %}

      <!-- comments -->
      <div class="w3-row">
        <h5><b>Recent Comments</b></h5>
        
        {% for comment in doctor.comment_for_doctor.all|slice:"5" %}
          <div class="w3-row">
            <div class="w3-col m10 w3-container">
              <div class="w3-row">
                <img class="w3-col l6 w3-circle w3-margin-right" src="{{ comment.writer.photo.url }}" style="width:56px;height:56px">
                <h4 class="l6 w3-col">{{comment.writer}} <span class="w3-opacity w3-medium">{{comment.date_posted|date:'M d, Y, P'}}</span></h4>
              </div>
              <p class="w3-margin-left">{{comment.content}}</p><br>
            </div>
          </div>
          {% empty %}
          <div class="w3-container">
            <h6>No Comments</h6>
          </div>
        {% endfor %}
        
      </div>

    </div>

</div>
{% endblock body %}
  

{% block scripts %}
  <script>
    document.getElementById('people').classList.add('w3-pale-green');
  </script>
  <script type="text/javascript" src="{% static 'panel/js/accordion.js' %}"></script>
  <script type="text/javascript" src="{% static 'panel/js/follow.js' %}"></script>
{% endblock scripts %}
  