{% extends 'panel/layout.html' %}
{% load static %}

{% block title %}
  Log In
{% endblock title %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'panel/index.css' %}">
{% endblock styles %}
  

{% block body %}
  <div class="bgimg w3-display-container w3-text-dark">
    <div class="w3-display-topleft w3-padding-large w3-xlarge w3-text-white">
      Psych Help Panel
    </div>
    <a href="{% url 'home:index' %}" class="w3-btn w3-display-bottomleft w3-padding-large w3-large w3-text-white w3-margin-top-large" >
      Go Back Home
    </a>
    <div id="card" class="w3-display-middle" style="width:40vw">
      <div class="w3-card-2 w3-round">

        <header class="w3-container w3-theme-l3">
          <h3>Log In</h3>
        </header>
        
        <div class="w3-container w3-theme-l5 w3-padding-32">
          <form action="{% url 'panel:login_view' %}" class="container" method="POST">
            {% csrf_token %}
            <label class="w3-text-theme"><b>Username or Email</b></label>
            <input class="w3-input w3-border" type="text" name="username">
            
            <label class="w3-text-theme"><b>Password</b></label>
            <input class="w3-input w3-border w3-margin-bottom" type="password" name="password">

            <p class="w3-text-red">{{message}}</p> 
            <p class="w3-text-green">{{alert}}</p> 
            <button class="w3-btn w3-theme w3-ripple" type="submit">Let me in</button>
          </form>
          <p style="margin-bottom:0">Don&apos;t have a Profile? <a href="{% url 'panel:register' %}">Create one</a></p>
        </div>

      </div>
    </div>
  </div>
{% endblock body %}
  