{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- W3.CSS -->
  <link rel="stylesheet" href="{% static '/w3.css' %}">
  {% block styles %}
  {% endblock styles %}
  <title>{% block title %}{% endblock title %}</title>
</head>
<body class="w3-light-grey">

  <!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right">Psych Help Panel</span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="{{ user.photo.url }}" class="w3-circle w3-margin-right" style="width:66px">
    </div>
    <div class="w3-col s8 w3-bar">
      <span style="padding-left:16px;">Welcome, <strong>{% if user.first_name %}{{user.first_name}}{% else %}{{user.username}}{% endif %}</strong></span><br>
      <a href="#" title="Messages" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
      <a href="{% url 'panel:profile' %}" title="Profile" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
      <a href="{% url 'panel:logout_view' %}" title="Log Out" class="w3-bar-item w3-button"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Dashboard</h5>
  </div>
  <div class="w3-bar-block">
    <a id="profile" href="{% url 'panel:profile' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw"></i>  Profile</a>

    {% if not user.is_doctor %}
      <a id="panel" href="{% url 'panel:panel' %}" class="w3-bar-item w3-button w3-padding"><i class="fa-solid fa-pen-to-square fa-fw"></i>  Tests</a>
    {% endif %}
          
    {% if user.is_doctor %}
      <a id="people" href="{% url 'panel:patients' %}" class="w3-bar-item w3-button w3-padding"><i class="fa-solid fa-hospital-user fa-fw"></i>  Patients</a>
      {% else %}
      <a id="people" href="{% url 'panel:doctors' %}" class="w3-bar-item w3-button w3-padding"><i class="fa-solid fa-user-doctor fa-fw"></i>  Doctors</a>
    {% endif %}
      
    <a id="settings" href="{% url 'panel:settings' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Settings</a><br><br>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
   
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-animate-opacity" style="margin-left:300px;margin-top:43px;">


{% block body %}
  
{% endblock body %}
  
</div>
  
  {% block scripts %}
  {% endblock scripts %}
  <script type="text/javascript" src="{% static 'panel/js/js.js' %}"></script>
</body>
</html>