{% extends 'panel/layout2.html' %}
{% load static %}


{% block title %}
  Tests
{% endblock title %}
  

{% block styles %}
{% endblock styles %}
  

{% block body %}
  
  <div class="w3-row-padding">

    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
      <h5><b><i class="fa-solid fa-pen-to-square fa-fw"></i> Tests</b></h5>
    </header>

  </div>

  <div class="w3-container w3-margin-top">
    <ul class="w3-ul w3-card-2 w3-white">

      <li class="w3-padding-16">
        <div style="cursor:pointer;" onclick="myFunction('accordian1')">
          <img src="{% static 'panel/img/Big-Five.jpg' %}" class="w3-left w3-circle w3-margin-right" style="width:35px">
          <span class="w3-large">Five Factor Personality Test</span>
        </div>
        <div id="accordian1" class="w3-container w3-hide w3-animate-opacity">
          <hr>
          <h4>IPIP Constructs Based On Neo Five Factor Personality Test</h4>
          <p>The Items in Each of the Preliminary IPIP Scales Measuring Constructs Similar to Those in the 5 NEO-PI-R Broad Domains</p>
          <p><strong>Reference:</strong> International Personality Item Pool. A Scientific Collaboratory for the Development of Advanced Measures of Personality Traits and Other Individual Differences. (<a href="http://ipip.ori.org/" target="_blank">Website</a>) (<a href="https://ipip.ori.org/newPermission.htm" target="_blank">Permission</a>)</p>
          <button type="button" class="w3-button w3-black w3-margin-bottom">Take The Test</button>
        </div>
      </li>

      <li class="w3-padding-16">
        <div style="cursor:pointer;" onclick="myFunction('accordian2')">
          <img src="{% static 'panel/img/mmpi.png' %}" class="w3-left w3-circle w3-border w3-margin-right" style="width:35px">
          <span class="w3-large">MMPI-2</span>
        </div>
        <div id="accordian2" class="w3-container w3-hide w3-animate-opacity">
          <hr>
          <h4>Minnesota Multiphasic Personality Inventory</h4>
          <p>Coming Soon...</p>
        </div>
      </li>

      <li class="w3-padding-16">
        <div style="cursor:pointer;" onclick="myFunction('accordian3')">
          <img src="{% static 'panel/img/mcmi.jpg' %}" class="w3-left w3-circle w3-border w3-margin-right" style="width:35px">
          <span class="w3-large">MCMI-IV</span>
        </div>
        <div id="accordian3" class="w3-container w3-hide w3-animate-opacity">
          <hr>
          <h4>Millon Clinical Multiaxial Inventory</h4>
          <p>Coming Soon...</p>
        </div>
      </li>

    </ul>
  </div>

{% endblock body %}
  

{% block scripts %}
  <script>
    document.getElementById('panel').classList.add('w3-pale-red');
  </script>
  <script type="text/javascript" src="{% static 'panel/accordion.js' %}"></script>
{% endblock scripts %}
  