{% extends 'panel/layout2.html' %}
{% load static %}


{% block title %}
  Patients
{% endblock title %}


{% block styles %}
  
{% endblock styles %}
  

{% block body %}

<div class="w3-row-padding">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa-solid fa-users fa-fw"></i> Patients</b></h5>
  </header>

</div>
  
<div class="w3-container w3-twothird w3-margin-top">
  <table class="w3-table w3-striped w3-bordered w3-border w3-white">
    
    {% for test in tests %}
      <tr>
        <td class="w3-large">{{test.username}}&apos;s Five Factor Test</td>
        <td><a href="{% url 'test_neo:show_results' test.u_id %}" class="w3-button w3-dark-grey w3-small">View Results  <i class="fa fa-arrow-right"></i></a></td>
      </tr>
    {% endfor %}
      
  </table><br>
</div>
    
{% endblock body %}


{% block scripts %}
  <script>
    document.getElementById('people').classList.add('w3-pale-green')
  </script>
{% endblock scripts %}
