{% extends 'panel/layout2.html' %}


{% block title %}
  {{user.username}}
{% endblock title %}
  

{% block body %}
<!-- Page Container -->
  <!-- The Grid -->
  <div class="w3-row-padding">
    
    {% if messages %}
      <!-- Alert Box -->
      <div class="w3-container w3-margin w3-display-container w3-pale-green w3-border w3-theme-border w3-margin-bottom">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
        <p>
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </p>
      </div>
    {% endif %}

    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
      <h5><b><i class="fa fa-user"></i> Profile</b></h5>
    </header>

    <!-- General Info -->
    <div class="w3-twothird w3-padding">
      <h5><b>General Information</b></h5>
      <table class="w3-table w3-striped w3-white">
        <tr class="w3-hover-opacity-min">
          <td><i class="fa-solid fa-user-check w3-text-red"></i></td>
          <td><strong>Username</strong></td>
          <td><i>{{ user.username }}</i></td>
        </tr>
        <tr class="w3-hover-opacity-min">
          <td><i class="fa fa-user w3-text-blue"></i></td>
          <td><strong>Name</strong></td>
          <td><i>{{ user.first_name }} {{ user.last_name }}</i></td>
        </tr>
        
        {% if user.doctor_user.first.get_title_display %}
          <tr class="w3-hover-opacity-min">
            <td><i class="fa-solid fa-briefcase w3-text-deep-purple"></i></td>
            <td><strong>Specialty</strong></td>
            <td><i>{{ user.doctor_user.first.get_title_display }}</i></td>
          </tr>
        {% endif %}
          
        <tr class="w3-hover-opacity-min">
          <td><i class="fa-solid fa-envelope w3-text-orange"></i></td>
          <td><strong>Email</strong></td>
          <td><i>{% firstof user.email '-' %}</i></td> 
        </tr>
        <tr class="w3-hover-opacity-min">
          <td><i class="fa-solid fa-venus-mars w3-text-teal"></i></td>
          <td><strong>Sex</strong></td>
          <td><i>{% firstof user.sex '-' %}</i></td>
        </tr>
        <tr class="w3-hover-opacity-min">
          <td><i class="fa fa-cake w3-text-pink"></i></td>
          <td><strong>Birthday</strong></td>
          <td><i>{% firstof user.birth_date|date:"F d, Y" '-' %}</i></td>
        </tr>
        <tr class="w3-hover-opacity-min">
          <td><i class="fa-solid fa-city w3-text-blue-gray"></i></td>
          <td><strong>City</strong></td>
          <td><i>{% firstof user.city '-' %}</i></td>    
        </tr>
        <tr class="w3-hover-opacity-min">
          <td><i class="fa-solid fa-earth-africa w3-text-brown"></i></td>
          <td><strong>Country</strong></td>
          <td><i>{% firstof user.country '-' %}</i></td>
        </tr>
        <tr class="w3-hover-opacity-min">
          <td><i class="fa-solid fa-address-card w3-text-cyan"></i></td>
          <td><strong>About</strong></td>
          <td><i>{% firstof user.about '-' %}</i></td>  
        </tr>
      </table>
      <small class="w3-margin-top w3-right w3-opacity">Last Updated {% firstof doctor.last_profile_update|date:'M d, P' 'Never' %}</small>
    </div>

    <div class="w3-third w3-padding w3-hide-small w3-opacity-min" style="margin-top:11px;">
      <div class="w3-container w3-padding-16">
        <p class="w3-opacity-75"><i class="fa fa-exclamation-triangle w3-text-theme"></i> Make sure to keep your profile updated in the <a href="{% url 'panel:settings' %}">settings</a>. Details help doctors make a better diagnosis.</p>
      </div>
    </div>

  </div>

  <hr class="black">

  <!-- My Tests -->
  <div class="w3-row-padding">
    <div class="w3-padding">
      <h5><b>My Tests</b></h5>
      tests here
    </div>
  </div>

  <hr class="black">

  <!-- My Doctors -->
  <div class="w3-row-padding">
    <div class="w3-twothird w3-padding">
      {% if user.is_doctor %}
        <h5><b>My Patients</b></h5>
        {% else %}
        <h5><b>My Doctors</b></h5>
      {% endif %}
        
      <div class="w3-container">
        <div class="w3-row w3-padding w3-margin-bottom">
          <div class="w3-col m4 l3 text-center">
            <img class="w3-circle" src="{{ user.photo.url }}" style="width:96px;height:96px">
          </div>
          <div class="w3-col m12 l9 w3-container">
            <h4>John <span class="w3-opacity w3-medium">Sep 29, 2014, 9:12 PM</span></h4>
            <p>Keep up the GREAT work! I am cheering for you!! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
          </div>
        </div>
    
      </div>
    </div>
  </div>
  
{% endblock body %}
  

{% block scripts %}
  <script>
    document.getElementById('profile').classList.add('w3-pale-yellow')
  </script>
{% endblock scripts %}
  