{% extends 'panel/layout2.html' %}
{% load static %}


{% block title %}
  Edit {{user.username}}
{% endblock title %}
  

{% block body %}
<!-- Page Container -->
  <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">

      <!-- Left Column -->
      <div class="w3-col l4">
        <!-- Profile -->
        <div class="w3-card w3-round w3-white">
          <div class="w3-container">
            <h3 class="w3-center">{{ user.username }}</h3>
            <p class="w3-center"><img src="{{ user.photo.url }}" class="w3-circle" style="height:126px;width:126px" alt="Avatar"></p>
            <hr>
            <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>
              
              {% if user.is_doctor %}
                Doctor/Psychologist
              {% else %}
                Patient
              {% endif %}
                
            </p>
            <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i>
              
              {% if user.city %}
                {{user.city}}{% if user.country %}, {{user.country}}{% endif %}
                {% else %}
                
                {% if user.country %}{{user.country}}{% endif %}
                  
              {% endif %}
                
            </p>
            <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i>
            
              {% if user.birth_date %}
                {{ user.birth_date|date:'d/F/Y' }}
                {% else %}
                No Information
              {% endif %}
                
            </p>
          </div>
        </div>
        <br>

        {% if messages %}
          <!-- Alert Box -->
          <div class="w3-container w3-display-container w3-pale-red w3-border w3-theme-border w3-margin-bottom">
            <span onclick="this.parentElement.style.display='none'" class="w3-button w3-display-topright">
              <i class="fa fa-remove"></i>
            </span>
            <p>
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            </p>
          </div>
        {% endif %}

      <!-- End Left Column -->
      </div>

      <!-- Middle Column -->
      <div class="w3-col l8">
        <div class="w3-row-padding">
          <div class="w3-col m12">
            <div class="w3-card w3-white w3-round w3-margin-bottom"><br>
              <div class="w3-container w3-padding">
                <div class="w3-bar w3-theme-l3 w3-large">
                  <a onclick="formPages(this, 'general')" id="formNav" class="w3-bar-item w3-btn w3-theme-d1 generalButton">General</a>
                  <a onclick="formPages(this, 'picture')" id="formNav" class="w3-bar-item w3-btn">Profile Picture</a>
                  <a onclick="formPages(this, 'password')" id="formNav" class="w3-bar-item w3-btn">Password</a>
                </div>
                <hr>
                <!-- Forms -->

                <!-- General Form -->
                <form id="general" class="w3-large forms" action="{% url 'panel:profile_edit' %}" method="post">
                  {% csrf_token %}
                  <h4 class="w3-text-theme-dark">What Do We Call You?</h4>
                  <p class="w3-padding">      
                    <label class="w3-text-theme w3-large"><strong>First Name</strong></label>
                    <input class="w3-input w3-border" name="first_name" type="text" value="{{user.first_name}}" required />
                  </p>
                  <p class="w3-padding">      
                    <label class="w3-text-theme w3-large"><strong>Last Name</strong></label>
                    <input class="w3-input w3-border" name="last_name" type="text" value="{{user.last_name}}" required />
                  </p>
                  <p class="w3-padding">      
                    <label class="w3-text-theme w3-large"><strong>Sex</strong></label>
                    <select class="w3-select w3-border" name="sex">
                      <option value="" disabled selected>Choose your option</option>
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                      <option value="Intersex">Intersex</option>
                    </select>
                  </p>
                  <p class="w3-padding">
                    <label class="w3-text-theme w3-large" for="birthday"><strong>Birthday</strong></label>
                    <input type="date" id="birthday" name="birth_date" value="{{user.birth_date|date:'Y-m-d'}}">
                  </p>
                  <p class="w3-padding">      
                    <label class="w3-text-theme w3-large"><strong>Username</strong></label>
                    <input class="w3-input w3-border" name="username" type="text" value="{{user.username}}" required />
                  </p>
                  <p class="w3-padding">      
                    <label class="w3-text-theme w3-large"><strong>Email</strong></label>
                    <input class="w3-input w3-border" name="email" type="text" value="{{user.email}}" disabled />
                  </p>
                  <hr>
                  <h4 class="w3-text-theme-dark">Where Do You Live?</h4>
                  <p class="w3-padding">      
                    <label class="w3-text-theme w3-large"><strong>Country</strong></label>
                    <input class="w3-input w3-border" name="country" type="text" value="{{user.country}}" />
                  </p>
                  <p class="w3-padding">      
                    <label class="w3-text-theme w3-large"><strong>City</strong></label>
                    <input class="w3-input w3-border" name="city" type="text" value="{{user.city}}" />
                  </p>
                  <hr>
                  <h4 class="w3-text-theme-dark">How Are You?</h4>
                  <p class="w3-padding">      
                    <label class="w3-text-theme w3-large"><strong>About</strong></label>
                    <textarea class="w3-input w3-border" name="about" type="text" placeholder="Tell Your Doctors A Little About Yourself">{{user.about}}</textarea>
                  </p>
                  <hr>
                  <h4 class="w3-text-theme-dark">Enter Password To Confirm Changes</h4>
                  <p class="w3-padding">      
                    <label class="w3-text-theme w3-large"><strong>Password</strong></label>
                    <input class="w3-input w3-border" name="password" type="password" required />
                  </p>
                  <p class="w3-padding">      
                    <label class="w3-text-theme w3-large"><strong>Confirm Password</strong></label>
                    <input class="w3-input w3-border" name="confirmation" type="password" required />
                  </p>
                    
                  <p>
                    <button class="w3-btn w3-theme w3-large w3-margin-bottom" type="submit">Done</button>
                  </p>
                </form>

                <!-- Password Form -->
                <form id="password" class="w3-large forms" action="{% url 'panel:change_password' %}" method="post">
                  {% csrf_token %}
                  <h4 class="w3-text-theme-dark">Change Your Password Here.</h4>
                  <p class="w3-padding">      
                    <label class="w3-text-theme w3-large"><strong>New Password</strong></label>
                    <input class="w3-input w3-border" name="new_password" type="password" required />
                  </p>
                  <p class="w3-padding">      
                    <label class="w3-text-theme w3-large"><strong>Confirm New Password</strong></label>
                    <input class="w3-input w3-border" name="new_password_confirm" type="password" required />
                  </p>
                  <hr>
                  <h4 class="w3-text-theme-dark">Enter Old Password To Confirm Changes</h4>
                  <p class="w3-padding">      
                    <label class="w3-text-theme w3-large"><strong>Password</strong></label>
                    <input class="w3-input w3-border" name="password" type="password" required />
                  </p>
                  <p class="w3-padding">      
                    <label class="w3-text-theme w3-large"><strong>Confirm Password</strong></label>
                    <input class="w3-input w3-border" name="confirmation" type="password" required />
                  </p>

                  <p>
                    <button class="w3-btn w3-theme w3-large w3-margin-bottom" type="submit">Done</button>
                  </p>
                </form>

                <!-- picture Form -->
                <form id="picture" class="w3-large forms" action="{% url 'panel:change_picture' %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <h4 class="w3-text-theme-dark">Change Your Profile Picture Here.</h4>
                  <p class="w3-padding">      
                    <label class="w3-text-theme"><b>Profile Picture</b></label>
                    <input class="w3-input w3-border" name="profile_pic" type="file" id="imgInp" accept="image/*" required />
                    <img id="preview" src="#" alt="preview" style="display:none;height:106px;width:106px" class="w3-round w3-margin" />
                  </p>
                  <hr>
                  <h4 class="w3-text-theme-dark">Enter Password To Confirm Changes</h4>
                  <p class="w3-padding">      
                    <label class="w3-text-theme w3-large"><strong>Password</strong></label>
                    <input class="w3-input w3-border" name="password" type="password" required />
                  </p>
                  <p class="w3-padding">      
                    <label class="w3-text-theme w3-large"><strong>Confirm Password</strong></label>
                    <input class="w3-input w3-border" name="confirmation" type="password" required />
                  </p>

                  <p>
                    <button class="w3-btn w3-theme w3-large w3-margin-bottom" type="submit">Done</button>
                  </p>
                </form>
                
              </div>
            </div>
          </div>
        </div>
        
      <!-- End Middle Column -->
      </div>

    </div>
  </div>
{% endblock body %}


{% block scripts %}
  <script type="text/javascript" src="{% static 'panel/formPages.js' %}"></script>
{% endblock scripts %}
  