{% extends 'panel/layout2.html' %}
{% load static %}
{% load star_templates %}

{% block title %}
  {{user.username}}
{% endblock title %}
  

{% block styles %}
  <link rel="stylesheet" href="{% static 'panel/css/doctors.css' %}">
{% endblock styles %}
  

{% block body %}
<!-- Page Container -->
  <!-- The Grid -->
  <div class="w3-row-padding">
    
    {% if messages %}
      <!-- Alert Box -->
      <div class="w3-container w3-margin w3-display-container w3-pale-green w3-border w3-theme-border w3-margin-bottom">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
        <p>
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </p>
      </div>
    {% endif %}

    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
      <h5><b><i class="fa fa-user"></i> Profile</b></h5>
    </header>

    <!-- General Info -->
    <div class="w3-twothird w3-padding">
      <h5><b>General Information</b></h5>
      <table class="w3-table w3-striped w3-white">
        <tr class="w3-hover-opacity-min">
          <td><i class="fa-solid fa-user-check w3-text-red"></i></td>
          <td><strong>Username</strong></td>
          <td><i>{{ user.username }}</i></td>
        </tr>
        <tr class="w3-hover-opacity-min">
          <td><i class="fa fa-user w3-text-blue"></i></td>
          <td><strong>Name</strong></td>
          <td><i>{{ user.first_name }} {{ user.last_name }}</i></td>
        </tr>
        
        {% if user.doctor_user.first.get_title_display %}
          <tr class="w3-hover-opacity-min">
            <td><i class="fa-solid fa-briefcase w3-text-deep-purple"></i></td>
            <td><strong>Specialty</strong></td>
            <td><i>{{ user.doctor_user.first.get_title_display }}</i></td>
          </tr>
        {% endif %}
          
        <tr class="w3-hover-opacity-min">
          <td><i class="fa-solid fa-envelope w3-text-orange"></i></td>
          <td><strong>Email</strong></td>
          <td><i>{% firstof user.email '-' %}</i></td> 
        </tr>
        <tr class="w3-hover-opacity-min">
          <td><i class="fa-solid fa-venus-mars w3-text-teal"></i></td>
          <td><strong>Sex</strong></td>
          <td><i>{% firstof user.sex '-' %}</i></td>
        </tr>
        <tr class="w3-hover-opacity-min">
          <td><i class="fa fa-cake w3-text-pink"></i></td>
          <td><strong>Birthday</strong></td>
          <td><i>{% firstof user.birth_date|date:"F d, Y" '-' %}</i></td>
        </tr>
        <tr class="w3-hover-opacity-min">
          <td><i class="fa-solid fa-city w3-text-blue-gray"></i></td>
          <td><strong>City</strong></td>
          <td><i>{% firstof user.city '-' %}</i></td>    
        </tr>
        <tr class="w3-hover-opacity-min">
          <td><i class="fa-solid fa-earth-africa w3-text-brown"></i></td>
          <td><strong>Country</strong></td>
          <td><i>{% firstof user.country '-' %}</i></td>
        </tr>
        <tr class="w3-hover-opacity-min">
          <td><i class="fa-solid fa-address-card w3-text-cyan"></i></td>
          <td><strong>About</strong></td>
          <td><i>{% firstof user.about '-' %}</i></td>  
        </tr>
      </table>
      <small class="w3-margin-top w3-right w3-opacity">Last Updated {% firstof user.last_profile_update|date:'M d, P' 'Never' %}</small>
    </div>

    <div class="w3-third w3-padding w3-hide-small w3-opacity-min" style="margin-top:11px;">
      <div class="w3-container w3-padding-16">
        <p class="w3-opacity-75"><i class="fa fa-exclamation-triangle w3-text-theme"></i> Make sure to keep your profile updated in the <a href="{% url 'panel:settings' %}">settings</a>. Details help doctors make a better diagnosis.</p>
      </div>
    </div>

  </div>

  <hr class="black">

  <!-- My Tests -->
  {% if not user.is_doctor %}

  <div class="w3-row-padding">
    <div class="w3-padding">
      <h5><b>My Tests</b></h5>
      <p>You can send your test results to doctors you follow and ask for their advice.</p>
      <div class="w3-container"><br>
        
        <ul class="w3-ul w3-card w3-white">
            {% for test in tests %}
            <li class="w3-padding-16">
              <span class="w3-large">Five Factor Test</span>
              <span class="w3-opacity">  {{ test.timestamp }}</span><br>
              <span class="w3-small"> <a href="{% url 'test_neo:show_results' test.u_id %}"> See Results</a></span>
              <span class="w3-small w3-margin-left" style="cursor: pointer;"> <a onclick="myFunction('{{test.u_id}}')"> Send results</a></span>
              <div id="{{test.u_id}}" class="w3-container w3-hide w3-animate-opacity">
                <hr>
                {% for doctor in user.follower.all %}
                  <h4>{{doctor.followee.first_name}} {{ doctor.followee.last_name}} <small class="w3-opacity w3-small">{{ doctor.followee.doctor_user.first.get_title_display }}</small> </h4>
                  <span>
                    
                    <button id="{{doctor.followee.username}}{{test.u_id}}" onclick="sendResultsToDoctor('{{test.u_id}}', '{{doctor.followee.username}}')" class="w3-button w3-ripple w3-black w3-small">{% if doctor.followee.username in test.sent_to_doctors %}Unsend{% else %}Send{% endif %}</button>
                      
                  </span>
                  <hr>
                {% endfor %}
              </div>
            </li>
            {% empty %}
            <li class="w3-padding-16">
              <span class="w3-xlarge">No Tests Yet</span><br>
            </li>
          </ul>
          
          {% endfor %}
          
      </div>
    </div>
  </div>
  <hr class="black">

  <!-- My Doctors -->
  <div class="w3-row-padding">
    <div class="w3-padding">
        <h5><b>My Doctors</b></h5>
      <br>
       
       {% for doctor in user.follower.all %}
        <div class="w3-row w3-padding">
          <div class="w3-col m2 l2 text-center">
            <img class="w3-circle" src="{{ doctor.followee.photo.url }}" style="width:96px;height:96px">
          </div>
          <div class="w3-col m10 l10 w3-container">
            <div class="rating">
              <h4 style="margin:0;">
                {{ doctor.followee.first_name }} {% firstof doctor.followee.last_name 'No Name' %}&nbsp;-&nbsp; 
              </h4> 
              <span> 
                {% show_stars doctor.followee %}
              </span> 
            </div>
            <span class="w3-opacity w3-medium">{% firstof doctor.followee.doctor_user.first.get_title_display 'Specialty Not Provided' %}</span>
            <p>{{ doctor.followee.about }} <small class="w3-text-red"><a href="{% url 'panel:doctor_profile' doctor.followee.id %}">See Profile</a></small></p>
          </div>
        </div>
  
        <hr class="black">
       {% endfor %}
    
    </div>
  </div>

  {% endif %}
  
{% endblock body %}
  

{% block scripts %}
  <script>
    document.getElementById('profile').classList.add('w3-pale-yellow')
  </script>
  <script type="text/javascript" src="{% static 'panel/js/accordion.js' %}"></script>
  <script type="text/javascript" src="{% static 'neo/js/sendResults.js' %}"></script>
{% endblock scripts %}
  