body, html {height: 100%}
.bgimg {
  min-height: 100%;
  background-position: center;
  background-size: cover;
  display: block;
  position: relative;
  background-color: #9e9e9e;

}

@media (max-width: 768px) {
  #card {
    width: 70vw !important;
  }
}