body {
  max-width: 470px;
  margin: 5px auto;
  border: 1px solid black;
  padding: 10px;
}

.h1-header {
  text-align: center;
}

.h2-header {
  text-align: center;
}

.profile {
  font-weight: 600;
}

.warning {
  text-align: center;
  color: red;
}

.profile div {
  margin: 5px 20px;
}

main {
  margin: 5px 20px;
}